<?xml version="1.0"?>
<config>
    <modules>
        <Che_Techtalk>
            <version>1.0.0</version>
        </Che_Techtalk>
    </modules>
    <frontend>
        <routers>
            <techtalk>
                <use>standard</use>
                <args>
                    <module>Che_Techtalk</module>
                    <frontName>magetalk</frontName>
                </args>
            </techtalk>
        </routers>
        <layout>
            <updates>
                <techtalk>
                    <file>techtalk.xml</file>
                </techtalk>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <techtalk>
                <class>Che_Techtalk_Model</class>
                <resourceModel>techtalk_resource</resourceModel>
            </techtalk>
            <techtalk_resource>
                <class>Che_Techtalk_Model_Resource</class>
                <entities>
                    <contact>
                        <table>ain_contact</table>
                    </contact>
                </entities>
            </techtalk_resource>
        </models>
        <blocks>
            <techtalk>
                <class>Che_Techtalk_Block</class>
            </techtalk>
        </blocks>
    </global>

</config>