<?xml version="1.0"?>
<config>
    <modules>
        <Che_Techtalk>
            <version>0.0.1</version>
        </Che_Techtalk>
    </modules>
    <global>
        <models>
            <techtalk>
                <class>Che_Techtalk_Model</class>
            </techtalk>
        </models>

    </global>

</config>