<?xml version="1.0"?>
<config>
    <modules>
        <Che_Techtalk>
            <version>1.0.0</version>
        </Che_Techtalk>
    </modules>
    <frontend>
        <routers>
            <techtalk>
                <use>standard</use>
                <args>
                    <module>Che_Techtalk</module>
                    <frontName>magetalk</frontName>
                </args>
            </techtalk>
        </routers>
        <layout>
            <updates>
                <techtalk>
                    <file>techtalk.xml</file>
                </techtalk>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <techtalk>
                <class>Che_Techtalk_Helper</class>
            </techtalk>
        </helpers>
        <models>
            <techtalk>
                <class>Che_Techtalk_Model</class>
                <resourceModel>techtalk_resource</resourceModel>
            </techtalk>
            <techtalk_resource>
                <class>Che_Techtalk_Model_Resource</class>
                <entities>
                    <contact>
                        <table>ain_contact</table>
                    </contact>
                </entities>
            </techtalk_resource>
        </models>
        <blocks>
            <techtalk>
                <class>Che_Techtalk_Block</class>
            </techtalk>
        </blocks>
    </global>
    <admin>
        <routers>
            <!--<ain_contact>-->
                <!--<use>admin</use>-->
                <!--<args>-->
                    <!--<module>Che_Techtalk</module>-->
                    <!--<frontName>ain_contact</frontName>-->
                <!--</args>-->
            <!--</ain_contact>-->
            <!-- -->
            <!-- Вот тут не получилось и в adminhtml.xml -->
            <!-- -->
            <!--<adminhtml>-->
                <!--<args>-->
                    <!--<modules>-->
                        <!--<ain_contact before="Mage_Adminhtml">-->
                            <!--Che_Techtalk_Adminhtml-->
                        <!--</ain_contact>-->
                    <!--</modules>-->
                <!--</args>-->
            <!--</adminhtml>-->
            <adminhtml>
                <args>
                    <modules>
                        <techtalk before="Mage_Adminhtml">Che_Techtalk_Adminhtml</techtalk>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <!--<adminhtml>-->
        <!--<menu>-->
            <!--<ain_contact module="techtalk">-->
                <!--<title>Contact</title>-->
                <!--<sort_order>77</sort_order>-->
                <!--<action>ain_contact/adminhtml_contact</action>-->
            <!--</ain_contact>-->
        <!--</menu>-->
    <!--</adminhtml>-->

</config>